/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    width: 100%;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    border: none;
    text-align: right;
    position: relative;
    padding-left: 300px;
    min-height: 50px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
    .token-input-token + .token-input-token {
        margin-left: 10px;
    }

.token-input-input-token {
    position: absolute;
    left: 0;
    top: 0;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    padding-left: 56px;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: normal;
    color: #8B8D90;
    background: url("../img/filtr_input_map_ico.png") no-repeat 19px center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.svg ul.token-input-list li input {
    background: url("../img/filtr_input_map_ico.svg") no-repeat 19px center;
}

li.token-input-token {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #FEEDC4;
    font-size: 12px;
    color: #282E34;
    line-height: 12px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #fedc89;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 9px;
    cursor: pointer;
    -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
        -ms-transition: 0.2s;
         -o-transition: 0.2s;
            transition: 0.2s;
    margin-top: 3px;
    padding-right: 26px;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    border-color: #FD1313;
    background: transparent;
}

li.token-input-selected-token span {
    color: #bbb;
}

.token-input-delete-token {
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../img/filtr_input_plashka_close.png") no-repeat center center;
    right: 3px;
    top: 4px;
}
    .token-input-delete-token:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        background: url("../img/filtr_input_plashka_close_last.png") no-repeat center center;
    }

.token-input-selected-token .token-input-delete-token {
    background: url("../img/filtr_input_plashka_close_last.png") no-repeat center center;
}

div.token-input-dropdown {
    position: absolute;
    width: 300px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #b9c4cd;
    border-right: 1px solid #b9c4cd;
    border-bottom: 1px solid #b9c4cd;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 900;
    margin-left: -1px;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
    background: transparent;
    -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
        -ms-transition: 0.2s;
         -o-transition: 0.2s;
            transition: 0.2s;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #E3B338;
    cursor: pointer;
}

